<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="text-center">
  <main class="form-signin">
    <div class="corpo">
    <h1 class="h3 mb-3 fw-normal">Bem-vindo, <%= user.nome %></h1>
    <p class="lead">Seu perfil foi acessado com sucesso!</p>
  </div>
  </main>
</body>
</html>

